@model List<Furnish.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<h1>Search Products</h1>



<form asp-controller="Product" asp-action="Search" method="post">
    <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
       <!--Dropdown to choose category for search-->
        <label for="category">Product Category:</label>
        <select name="category" class="form-control">
            <option value="">-- Select Category --</option>
            <option value="Sofa">Sofa</option>
            <option value="Bed">Bed</option>
            <option value="Table">Table</option>
            <option value="Chair">Chair</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a asp-controller="Product" asp-action="List" class="btn btn-primary">Return</a>
</form>
