@model Furnish.Models.User

@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            
            <div class="card shadow-sm">
                <div class="card-header text-center bg-lightgray">
                
                    <h4>My Profile</h4>
                </div>
                <div class="card-body">
                    @if (ViewBag.IsAuthenticated)
                    {
                        <h5 class="card-title text-center mb-4">Welcome, @Model.Username!</h5>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item">First Name: @Model.GivenName</li>
                            <li class="list-group-item">Last Name: @Model.Surname</li>
                            <li class="list-group-item">Email: @Model.Email</li>
                        </ul>
                    }
                    else
                    {
                        <p class="text-center">Please log in to view your profile.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
